# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# Distribution / packaging
build/
dist/
*.db

# OS files
.DS_Store
Thumbs.db